.campo_en_linea{
    font-weight: bold;
}

footer{
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.login{
    margin-top:200px;
}

.logo_cabecera{
    height: 40px;
}

.milogo{
    width:90px;
}

.mostrar_datos{
    font-size:20px;
}

.nav-link{
    padding:5px;
    color: #fff;
}

.pie_texto{
    color:#fff;
    font-size: 12px;
}

.separador50{
    margin:0 auto;
    width: 100%;
    height: 50px;
}